﻿@model IEnumerable<MyToDoList.ViewModels.TDLViewModel>

<!Doctype HTML>
<head>

</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Start Date</td>
                <td>End Date</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model)
                {
                    <td>@item.title</td>
                    <td>@item.description</td>
                    <td>@item.startDate</td>
                    <td>@item.endDate</td>
                }
            </tr>
        </tbody>
    </table>
</body>
